.hidden {
    visibility: hidden;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#js-form {
    display: flex;
    justify-content: center;
}

#songsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results {
    width: 400px;
    text-align: center;
}

#playlistContainer {
    width: 400px;
    text-align: center;
}