.hidden {
    visibility: hidden;
}

#title {
    text-align: center;
    cursor: pointer;
}

h2 {
    text-align: center;
}

#js-form {
    display: flex;
    justify-content: center;
}

#songsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results {
    width: 400px;
    text-align: center;
}

#playlistContainer {
    width: 400px;
    text-align: center;
}

#playlistAudio {
    display: flex;
    justify-content: center;
    margin: auto;
}

#finalPlaylistContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.active {
    color: darkred;
}